.news {
  margin-bottom: 146px;
}

.news__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__container .title {
  align-self: flex-start;
  margin-bottom: 58px;
}

.news__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.news__item {
  width: 48.81%;
  max-height: 394px;
  padding: 253px 30px 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.news__item:first-child {
  background: url(../img/bgnews1.png);
}

.news__item:last-child {
  background: url(../img/bgnews2.png);
  margin-right: 0;
}

.news__date {
  font-size: 14px;
  margin-bottom: 19px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.1px;
}

.news__text {
  margin-top: 7px;
  line-height: 1.5;
  padding-bottom: 25px;
}

.pagination {
  text-align: center;
  min-width: 381px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__page {
  margin-right: 25px;
}

.pagination__list {
  display: flex;
  justify-content: space-between;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
  transition: all 0.5s;
}

.pagination__link:hover {
  background: #fff;
  color: #F5170E;
}

.pagination__item--active .pagination__link {
  background: #fff;
  color: #F5170E;
}